@*@model IEnumerable<LMS_Proj.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaxMembers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaxMembers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupID })
        </td>
    </tr>
}

</table>*@

@model IEnumerable<LMS_Proj.Models.Group>

@{
    ViewBag.Title = "Index";
}


@*<h2>Search Group</h2>
@using (Html.BeginForm("Index", "Groups", FormMethod.Get))
{
    <div>
        <text>Search : </text><input type="text" name="GroupName" />&nbsp;
        <input type="submit" value="Search" id="btnSubmit" />
    </div>

}*@
@*<div id="DivGrid">
    @{
        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 4, defaultSort: "GroupID");
        @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", alternatingRowStyle: "altRow", htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
       
        grid.Column("MaxMembers", "MaxMembers"),
        grid.Column("GroupName", "GroupName"),
       grid.Column("ClassLocation", "ClassLocation"),
       grid.Column("GroupDescription", "GroupDescription"),
        grid.Column("", header: "ToEdit", format: @<text>@Html.ActionLink("Edit", "Edit", "Groups", new { id = item.GroupID }, new { target = "_blank" })</text>)));
    }

</div>*@



<p>
 
    @using (Html.BeginForm("Index", "Groups", FormMethod.Get))
{
        <h3>Detailed-Groups List</h3>
        @Html.ActionLink("Create New", "Create")
        <hr />
        <div>
            <text>Group Name : </text><input type="text" name="GroupName" />&nbsp;
            <input type="submit" value="Search" id="btnSubmit" />
        </div>

}


</p>

<table class="table table-striped table-hover table-responsive table-condensed">
    <tr>
        <th>
            <h3 style="font-size:x-large"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model.MaxMembers)</span></h3>
        </th>
        <th>
            <h3 style="font-size:x-large"><span style="font-weight:bolder"> @Html.DisplayNameFor(model => model.GroupName)</span></h3>
        </th>
        <th>
            <h3 style="font-size:x-large"><span style="font-weight:bolder"> @Html.DisplayNameFor(model => model.ClassLocation)</span></h3>
        </th>
        <th>
            <h3 style="font-size:x-large"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model.GroupDescription)</span></h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-lg-2">
                <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.MaxMembers)</span>
            </td>
            <td class="col-lg-2">
                <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.GroupName)</span>
            </td>
            <td class="col-lg-1">
                <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.ClassLocation)</span>
            </td>
            <td class="col-lg-1">
                <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.GroupDescription)</span>
            </td>
            <td class="col-lg-3">
                <button type="button" class="btn btn-warning col-lg-3" onclick="location.href='@Url.Action("Edit", "Groups", new { id = item.GroupID })';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span>Edit</button>

                <button type="button" class="btn btn-info col-lg-4 col-lg-offset-1" onclick="location.href='@Url.Action("Details", "Groups", new { id = item.GroupID})';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-align-justify"></span>Details</button>

                <button type="button" class="btn btn-danger col-lg-3 col-lg-offset-1" onclick="location.href='@Url.Action("Delete", "Groups", new { id = item.GroupID })' ;return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-trash"></span>Delete</button>
            </td>
        </tr>
    }

</table>

