@model IEnumerable<LMS_Proj.Models.File>

@{
    ViewBag.Title = "Index";
}



<p>
    @*@Html.ActionLink("Create New File", "Create")*@
    @using (Html.BeginForm())
    {




        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>File List</h3>
            @Html.ActionLink("Create New File", "Create")
            <div class="form-group">
                <text>Group Name:</text>@Html.DropDownList("GroupId", null, htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Filter" id="btnSubmit" />
            </div>

        </div>


    }

</p>
<table class ="table table-striped table-hover table-responsive table-condensed">
    <tr class="warning">
        <th>
            @*@Html.DisplayNameFor(model => model.Owner.FirstName)*@
            <h3 style="font-size:large"><span style="font-weight:bolder"> Owner</span></h3>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receiver.FirstName)*@
            <h3 style="font-size:large"><span style="font-weight:bolder"> Receiver</span></h3>
        </th>
        <th>
            <h3 style="font-size:large"><span style="font-weight:bolder"> @Html.DisplayNameFor(model => model.Type)</span></h3>
        </th>
        <th>
            <h3 style="font-size:large"><span style="font-weight:bolder">  @Html.DisplayNameFor(model => model.SubmissionDate)</span></h3>
        </th>
        <th>
            <h3 style="font-size:large"><span style="font-weight:bolder">  @Html.DisplayNameFor(model => model.FileName)</span></h3>
        </th>
        <th>
            <h3 style="font-size:large"><span style="font-weight:bolder"> @Html.DisplayNameFor(model => model.FilePath)</span></h3>
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FileLink)
            </th>*@
        <th>
            <h3 style="font-size:large"><span style="font-weight:bolder"> @Html.DisplayNameFor(model => model.Comment)</span></h3>
        </th>
        <th>
            <h3 style="font-size:large"><span style="font-weight:bolder"> @Html.DisplayNameFor(model => model.ReadByReciever)</span></h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-lg-2">
                <span style="font-size: 17px;"> @Html.DisplayFor(modelItem => item.Owner.FirstName)</span>
             </td>
            <td class="col-lg-2">
                <span style="font-size: 17px;">   @Html.DisplayFor(modelItem => item.Receiver.FirstName)</span>
</td>
            <td class="col-lg-1">
                <span style="font-size: 17px;">    @Html.DisplayFor(modelItem => item.Type)</span>
</td>
            <td class="col-lg-1">
                <span style="font-size: 17px;">    @Html.DisplayFor(modelItem => item.SubmissionDate)</span>
</td>
            <td class="col-lg-2">
                <span style="font-size: 17px;">   @Html.DisplayFor(modelItem => item.FileName)</span>
</td>
            <td class="col-lg-3">
                <span style="font-size: 17px;">    @Html.DisplayFor(modelItem => item.FilePath)</span>
</td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FileLink)
                </td>*@
            <td class="col-lg-2">
                <span style="font-size: 17px;">   @Html.DisplayFor(modelItem => item.Comment)</span>
</td>
            <td class="col-lg-3">
                <span style="font-size: 17px;">   @Html.DisplayFor(modelItem => item.ReadByReciever)</span>
</td>
            <td class="col-lg-20">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.FileId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FileId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FileId })*@
                <button type="button" class="btn btn-warning col-lg-20" onclick="location.href='@Url.Action("Edit", "Files", new { id = item.FileId })';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span>Edit</button>

                <button type="button" class="btn btn-info col-lg-18 col-lg-offset-1" onclick="location.href='@Url.Action("Details", "Files", new { id = item.FileId})';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-align-justify"></span>Details</button>

                <button type="button" class="btn btn-danger col-lg-18 col-lg-offset-1" onclick="location.href='@Url.Action("Delete", "Files", new { id = item.FileId })' ;return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-trash"></span>Delete</button>
            </td>
        </tr>
    }

</table>
