@model LMS_Proj.Models.Activity

@{
    ViewBag.Title = "Delete";
}

<h2>Activity Delete</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attachment.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groups.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groups.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groups.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groups.GroupDescription)
        </dd>


        @*<dt>
                @Html.DisplayNameFor(model => model.Timesheet.room)
            </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Timesheet.room)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


